
@tailwind base;
@tailwind components;
@tailwind utilities;

/* animations.css */

@keyframes moveToLeft {
  0% {
    transform: translateX(1300px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes moveToRight {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(1300px);
    overflow: hidden;
  }
}


.slide-in-left {
  animation: moveToLeft 0.6s forwards;
}

.slide-in-right {
  animation: moveToRight 0.6s forwards;
}